<div class="container">
  <app-shared-nav></app-shared-nav>

  <div class="form-group">
    <label>Institut:</label>
    <input type="text" class="form-control" [(ngModel)]="bankVerb.institut">
  </div>

  <div class="form-group">
    <label>KontoNr:</label>
    <input type="text" class="form-control" [(ngModel)]="bankVerb.kontoNr">
  </div>

  <div class="form-group">
    <label>blz:</label>
    <input type="text" class="form-control" [(ngModel)]="bankVerb.blz">
  </div>

  <div class="form-group">
    <label>iban:</label>
    <input type="text" class="form-control" [(ngModel)]="bankVerb.iban">
  </div>

  <div class="form-group">
    <label>bic:</label>
    <input type="text" class="form-control" [(ngModel)]="bankVerb.bic">
  </div>

</div>

